a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
.centerhead {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid orange;
}
body{
  background-image: url(backgroundalgo.jpeg);
  background-attachment: fixed;
   color: orange;
  font-family: 'Redressed', cursive;
  font-size: 40px;
}
div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.d {
  text-align: justify;
}

.navbar {
  height: 7vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #cce39c;
  border: 3px solid orange;
}
* {
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Redressed', cursive;
}
div.navbar{
  display:block
}
.content1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 7vh;
    margin: 7vh 7vh 0 7vh;
    background-color: white;
    border: 3px solid orange;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
